<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
I am a seasoned engineering leader and technical advisor with over 20 years of experience. I specialize in helping startups and growing companies navigate scaling challenges, from optimizing cloud infrastructure to enhancing security postures.
          </p>
      </div>
      <div class="col-lg-4">
        <p>
I provide tailored solutions that align technical strategies with business goals. Whether guiding a company through SOC2 compliance or implementing DevOps best practices, I enable sustainable growth and operational resilience.
        </p>
      </div>
    </div>
  </div>
</section>
